// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.h1 {
  font-weight: bold;

}

.ha {
 margin-left: 20px;
}

span {
  font-weight: bold;
}

.hed{
  margin-left: 60px;
}

div.hed p{
  margin: 2em 0px;
}